/*  your css code here. If applicable */
 body{
            background-color: rgb(204, 204, 204);
 }
        
        .no-bullet{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
         .player_one{
            background-color: rgb(255, 255, 255);
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            
        }
        
        .player_two{
            background-color: rgb(255, 255, 255);
            padding: 5px;
            border-radius: 5px;
			text-align: center
        }
        
    
        .audio_player{
            background-color: rgb(255, 255, 255);
            padding: 5px;
            border-radius: 5px;
			text-align: center
        }
      
        