/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.player_one {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.player_two {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 2%; 
    text-align: center;
    margin: 20px;

}

#div1 {
    background-color: white;
    margin: 25px;
    border: 1px solid black;
    border-radius: 2%;
}
      
        