/*  your css code here. If applicable */
 body{
            background-color: rgb(204, 204, 204);
        }
        #first-div{
            background-color: white;
            margin: 10%;
            border: 1px solid black;
            border-radius: 10%;
            padding: 10px;
        }
        #second-div{
background-color: white;
padding: 20px;
 border: 1px solid black;
border-radius: 10px;
margin: 10%;
margin-bottom: 10%;
text-align: center;
        }
        .no-bullet{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
         .player_one,
        .player_two {
            background-color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }