/*  your css code here. If applicable */
body{
            background-color: rgb(204, 204, 204);
 }
        
        .no-bullet{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
         .player_one{
            background-color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
         .player_two{
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            margin: 25px;
         }
        
        h2{
        
            text-align: center;
        }
        